
<footer class="bg-light text-dark pt-5 pb-4">

    <div class="container text-center text-md-left">
           <div class="row text-center text-md-left">

    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-info">About Us</h5>
            <hr class="mb-4">
                       <p>Welcome to Resume filtering, number one source of Resume. We're dedicated to
                            giving you the very best jobs.
                    </p>

               </div>

   <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
           <h5 class="text-uppercase mb-4 font-weight-bold text-info">Let Us Help</h5>
                   <hr class="mb-4">
                   <p>
                       <!-- <a href="#" class="text-dark" style="text-decoration: none;"> With your resume</a> -->
                   </p>
                   <p>
                       <!-- <a href="#" class="text-dark" style="text-decoration: none;"> Resume Examples</a> -->
                   </p>
                   
                   <p>
                       <a href="{% url 'feedback' %}" class="text-dark" style="text-decoration: none;"> Provide Feedback</a>
                   </p>

               </div>

               <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                   <h5 class="text-uppercase mb-4 font-weight-bold text-info">Support</h5>
                   <hr class="mb-4">
                   <p>
                       
                   </p>
                   <p>
                       <a href="{% url 'privacy' %}" class="text-dark" style="text-decoration: none;"> Privacy </a>
                   </p>
                   <p>
                       <a href="{% url 'services' %}" class="text-dark" style="text-decoration: none;"> Terms of services</a>
                   </p>
                   <p>
                       <a href="{% url 'affilate' %}" class="text-dark" style="text-decoration: none;"> Affiliates</a>
                   </p>
               </div>

               <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                   <h5 class="text-uppercase mb-4 font-weight-bold text-info">Contact</h5>
                   <hr class="mb-4">
                   <p>
                       <i class="fas fa-home mr-3"></i>Jodhpur, RJ19 1234, RJ
                   </p>
                   <p>
                       <i class="fas fa-envelope mr-3"></i>company@company.com
                   </p>
                   <p>
                       <i class="fas fa-phone mr-3"></i>+91 1234567890
                   </p>
                   <p>
                       <i class="fas fa-print	 mr-3"></i>+12 3456789
                   </p>
               </div>

           </div>

           <hr class="mb-4">
           <div class=" row d-flex justify-content-center">
               <div>
                   <p> Copyright ©2020 All rights reserved by:
                       <a style="text-decoration: none;">
                           <strong class="text-info">Celebal</strong>
                       </a>
                   </p>
               </div>
           </div>
           <div class="row d-flex justify-content-center">
               <div class="text-center ">

                   <ul class="list-unstyled list-inline">
                       <li class="list-inline-item">
                           <a href="#" class="text-dark"><i class="fab fa-instagram"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#" class=" text-dark"><i class="fab fa-google-plus"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#" class=" text-dark"><i class="fab fa-linkedin-in"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#" class=" text-dark"><i class="fab fa-youtube"></i></a>
                       </li>
                   </ul>

               </div>

           </div>

       </div>

       </div>
   </footer>