<div class="back-image">
    <nav class="navbar">
        <div class="brand-title">Resume Filtering</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a class="active" href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'feedback' %}">Feedback</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contactus' %}">Contact</a></li>
            </ul>
        </div>
    </nav>
    </div>