.text-container {
    
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-width: 100%;
    display: flex;
}
.container-image {
      margin-right: 90px;
      width: 500px;
      object-fit: contain;
      align-self: flex-start;
     
    }
.container-text {
      flex: 1;
      text-align: center;
      margin-top: 200px;
    }

    